body{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 12px;
}

h1{
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    color: #FF0000;
    background-color: #dfd869;
}
.classA{
    color:purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.classB{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11;
    text-indent: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
    font-family: Arial;
    font-size: 15;
    color:blue;
    font-weight: bold;
}

.classC{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    font-style: italic;
    margin-top:10px;
    margin-bottom:20px;
    margin-left: 1cm;
    margin-right: 1cm;

}
 
.classD{
    font-size: 13px;
    text-decoration: underline;
}

.classE{
    text-indent: 12px;
    margin-top:10px;
    margin-bottom:20px;
}

.classF{
    text-indent: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    color:lightskyblue;
}

.A:hover{
    color: green;
}

.A:active{
    text-decoration:underline ;
}

.classE:hover{
    font-style: italic;
}
.classF:hover{
    font-style: italic;
}
