body{ 
    background: url('pingouin.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: rgb(63, 129, 63);
}


h1{
    color:blueviolet
}

h2{
    color: white;
}

.A{
    color: white;
}

article{
    background-color: red;
    opacity: 0.61;
    margin-left: 50px;
    margin-right: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('pingouin.png');
    background-size: 250px;
}

section{
    background-color: rgb(216, 83, 83);
}