body{
    background:url('pingouin.png'),url('feuilles.png');
    background-repeat: no-repeat,repeat;
    background-position: center;
    background-attachment:fixed;
    color:white;
}

.titre{
    color: blueviolet;
}

.classA{
    font-style:italic;
}